# Flask
SECRET_KEY=generate-pakai-openssl-rand-hex-32

# MySQL
MYSQL_ROOT_PASSWORD=ganti_root_password
MYSQL_PASSWORD=ganti_password_satuamal

# Email (optional — untuk reset password)
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=app_password_gmail
